In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({"a": [1,2,3,4],
                   "b": [2, 3, 4, 5],
                  "results": [0., 0., 0., 0.]},
                 index=[3,4,5,6])
df

   a  b  results
3  1  2      0.0
4  2  3      0.0
5  3  4      0.0
6  4  5      0.0

In [8]:
sub_df = df[df['a'] > 1]
sub_df

   a  b  results
4  2  3      0.0
5  3  4      0.0
6  4  5      0.0

In [17]:
sel = df['a'] < 4
sel = sel[sel]

In [18]:
sel[sel]

3    True
4    True
5    True
Name: a, dtype: bool

In [30]:
df.loc[sub_df.index, 'results'] = 3.
df

   a  b  results
3  1  2      1.0
4  2  3      3.0
5  3  4      3.0
6  4  5      3.0